@{
    ViewData["Title"] = "QR vCard";
}


<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="/" class="rounded me-2" width="20" height="20" alt="...">
            <strong class="me-auto">vCard HTML Kopyala</strong>
            <small></small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            ...
        </div>
    </div>
</div>


<div class="text-center">
    <h1 class="display-5">QR vCard</h1>
    <p>Kurumsal logolu dijital qr kartvizit</p>
</div>

<div class="row">
    <div class="col-3">
        <div class="card mb-3">
            <div class="card-header">
                <h3 class="card-title">Kurumsal Logo</h3>
            </div>
            <div class="card-body">
                <form method="post" action="" enctype="multipart/form-data"
                      id="myformLogo">
                    <div class="mb-3">
                        <label for="file-logo" class="form-label">Resim dosyası seçiniz</label>
                        <input class="form-control form-control-sm" id="file-logo" type="file" accept=".png">
                    </div>
                </form>
                <div id="logo-display">
                    <figure class="figure">
                        <img id="logo" src="/" class="figure-img img-fluid rounded" alt=" " width="50" height="50">
                        <figcaption class="figure-caption text-end">Qr kod içerisinde görüntülenecek olan resim</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <h3 class="card-title">Kişi Listesi</h3>
            </div>
            <div class="card-body">
                <form method="post" action="" enctype="multipart/form-data"
                      id="myform">
                    <div class="mb-3">
                        <label for="formFileSm" class="form-label">CSV dosyası seçiniz</label>
                        <a class="ms-2" id="sample-file-download" href="~/sample/sample.csv" download="sample.csv">
                            <span>Örnek CSV dosyası</span>
                        </a>
                        <input class="form-control form-control-sm" id="file" type="file" accept=".csv">
                    </div>
                </form>
                <div id="csv-display" class="table-responsive">

                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card mb-3 h-100">
            <div class="card-body">
                <form action="" method="post">
                    <div class="row">

                        <div class="col-12">

                        </div>

                        <div class="col-3">
                            <fieldset>
                                <legend>Kişi</legend>
                                <div class="mb-1"><label>İsim</label><input class="form-control" type="text" name="firstname" required></div>
                                <div class="mb-1"><label>Soyisim</label><input class="form-control" type="text" name="lastname" required></div>
                                <div class="mb-1"><label>Telefon</label><input class="form-control" type="text" name="personaltel"></div>
                                <div class="mb-1"><label>Doğum Günü</label><input class="form-control" type="text" name="birthday"></div>
                                <div class="mb-1">
                                    <label>Cinsiyet</label>
                                    <select name="gender" class="form-select">
                                        <option></option>
                                        <option value="Female">Kadın</option>
                                        <option value="Male">Erkek</option>
                                    </select>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-3">
                            <fieldset>
                                <legend>Ev</legend>
                                <div class="mb-1"><label>Sokak ve Numara</label><input class="form-control" type="text" name="homestreet"></div>
                                <div class="mb-1"><label>Şehir</label><input class="form-control" type="text" name="homecity"></div>
                                <div class="mb-1"><label>Posta Kodu</label><input class="form-control" type="text" name="homepost"></div>
                                <div class="mb-1"><label>Bölge</label><input class="form-control" type="text" name="homeregion"></div>
                                <div class="mb-1"><label>Ülke</label><input class="form-control" type="text" name="homecountry"></div>
                                <div class="mb-1"><label>Telefon</label><input class="form-control" type="text" name="hometel"></div>
                                <div class="mb-1"><label>E-posta</label><input class="form-control" type="text" name="homeemail"></div>
                                <div class="mb-1"><label>Website</label><input class="form-control" type="text" name="homeurl"></div>
                            </fieldset>
                        </div>
                        <div class="col-3">
                            <fieldset>
                                <legend>İş</legend>
                                <div class="mb-1"><label>Ünvan</label><input class="form-control" type="text" name="orgtitle"></div>
                                <div class="mb-1"><label>İsim</label><input class="form-control" type="text" name="orgname"></div>
                                <div class="mb-1"><label>Sokak ve Numara</label><input class="form-control" type="text" name="orgstreet"></div>
                                <div class="mb-1"><label>Şehir</label><input class="form-control" type="text" name="orgcity"></div>
                                <div class="mb-1"><label>Posta Kodu</label><input class="form-control" type="text" name="orgregion"></div>
                                <div class="mb-1"><label>Bölge</label><input class="form-control" type="text" name="orgpost"></div>
                                <div class="mb-1"><label>Ülke</label><input class="form-control" type="text" name="orgcountry"></div>
                                <div class="mb-1"><label>Telefon</label><input class="form-control" type="text" name="orgtel"></div>
                                <div class="mb-1"><label>E-posta</label><input class="form-control" type="text" name="orgemail"></div>
                                <div class="mb-1"><label>Website</label><input class="form-control" type="text" name="orgurl"></div>
                            </fieldset>
                        </div>
                        <div class="col-3">
                            <fieldset>
                                <legend>Sosyal Ağlar</legend>
                                <div class="mb-1"><label>Facebook</label><input class="form-control" type="text" name="facebook" value="https://www.facebook.com/"></div>
                                <div class="mb-1"><label>Twitter</label><input class="form-control" type="text" name="twitter" value="https://www.twitter.com/"></div>
                                <div class="mb-1"><label>Flickr</label><input class="form-control" type="text" name="flickr" value="https://www.flickr.com/"></div>
                                <div class="mb-1"><label>Youtube</label><input class="form-control" type="text" name="youtube" value="https://www.youtube.com/"></div>
                                <div class="mb-1"><label>Skype</label><input class="form-control" type="text" name="skype"></div>
                                <div class="mb-1"><label>LinkedIn</label><input class="form-control" type="text" name="linkedin" value="https://www.linkedin.com"></div>
                            </fieldset>
                        </div>

                        <div class="col-12">
                            <p class="w-100 text-end">
                                <a class="btn btn-dark" id="generateQR">
                                    <i class="bi bi-qr-code"></i>
                                    <span>QR Kod Oluştur</span>
                                </a>
                            </p>
                        </div>
                    </div>




                </form>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card mb-3 h-100">
            <div class="card-body text-center">
                <h3>
                    <span>QR code</span>
                    <a class="ms-2 d-none btn btn-outline-dark py-1" id="qr-download" href="" download="qr.png">
                        <i class="bi bi-download" style="font-size:1rem"></i>
                    </a>
                </h3>
                <p>Bu QR kod vCardQRGenerator tarafından oluşturuldu.</p>
                <figure class="figure">
                    <img id="qr-server" src="/" class="figure-img img-fluid rounded" alt=" " width="250" height="250" />
                    <figcaption class="figure-caption text-end">QR vCard</figcaption>
                </figure>

                @*<img id="qr-server" src="/" alt="vcard qr" width="250" height="250" />*@
                @*<img id="qr" src="http://chart.googleapis.com/chart?cht=qr&chs=200x200&chl=" alt="vcard qr">*@
                <hr />

                <p>Bu QR vCard aşağıdaki bilgileri kullanarak oluşturuldu.</p>
                <textarea name="vcard" class="w-100" rows="10"></textarea>

            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-6">
        <p class="w-100 text-start">
            <button class="btn btn-outline-dark" onclick="copy()">
                <i class="bi bi-clipboard-plus-fill"></i>
                <span>Kopyala</span>
            </button>
            <hr />
        </p>
        <div id="v-card-export" class="vcard-container-base">
            <br />
            <p>
                Kind Regards,
            </p>
            <div class="vcard-container v-card-shadow">
                <div class="row-custom">
                    <div class="col-custom-25 border-vertical-right align-self-center">
                        <div style="">
                            <div class="vcard-logo-wrapper border" style="margin:auto">
                                <a href="" id="vcard-logo-link" target="_blank" rel="nofollow">
                                    <img id="vcard-logo" class="vcard-logo-wrapper-img border" src="https://stilevsapp.io/assets/images/logos/logo.png" alt="logo" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-custom-50 align-self-center py-2">
                        <div class="vcard-info-wrapper">
                            <div style="text-align: -webkit-center;">
                                <div class="vcard-info-fullname-wrapper">
                                    <h1 class="vcard-info-header-fullname">
                                        <span id="vcard-info-firstname" class="vcard-info-firstname">İsim</span>
                                        <span id="vcard-info-lastname" class="vcard-info-lastname">Soyisim</span>
                                    </h1>
                                    <h2 class="vcard-info-header-title">
                                        <span id="vcard-info-title" class="vcard-info-title">İş Ünvanı</span>
                                    </h2>
                                </div>
                            </div>

                            <div class="hr"></div>

                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <div class="vcard-info-contact-wrapper">
                                    <span class="info-item-name">P.</span>
                                    <a href="tel:+902128767578" id="vcard-info-phone" class="vcard-info-phone">+(90) 212 876 75 78</a>
                                    <span class="info-item-name ms-2">F.</span>
                                    <span id="vcard-info-fax" class="vcard-info-fax">+(90) 212 876 75 88</span>
                                </div>
                            </div>
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <div class="vcard-info-address-wrapper">
                                    <span class="info-item-name">A.</span>
                                    <span id="vcard-info-address" class="vcard-info-address">Sokak, Şehir Ülke</span>
                                </div>
                            </div>
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <div class="vcard-info-email-wrapper">
                                    <span class="info-item-name">E.</span>
                                    <a id="vcard-info-email" class="vcard-info-email" target="_blank" rel="nofollow"
                                       href="mailto:eposta@domain.com">eposta@domain.com</a>
                                </div>
                            </div>
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <div class="vcard-info-url-wrapper">
                                    <span class="info-item-name">W.</span>
                                    <a id="vcard-info-url" class="vcard-info-url" target="_blank" rel="nofollow"
                                       href="https://www.domain.com">www.domain.com</a>

                                </div>
                            </div>

                            <div class="hr"></div>

                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <div class="vcard-info-social-wrapper">
                                    <div style="display: flex; justify-content: flex-start; align-items: center;">
                                        <div class="vcard-info-social-item">
                                            <a id="vcard-social-facebook" class="text-decoration-none" target="_blank" rel="nofollow" href="https://tr-tr.facebook.com">
                                                <i class="bi bi-facebook vcard-info-social-item-i"></i>
                                            </a>
                                        </div>
                                        <div class="vcard-info-social-item">
                                            <a id="vcard-social-twitter" class="text-decoration-none" target="_blank" rel="nofollow" href="https://twitter.com">
                                                <i class="bi bi-twitter vcard-info-social-item-i"></i>
                                            </a>
                                        </div>
                                        <div class="vcard-info-social-item">
                                            <a id="vcard-social-linkedin" class="text-decoration-none" target="_blank" rel="nofollow" href="https://tr.linkedin.com/">
                                                <i class="bi bi-linkedin vcard-info-social-item-i"></i>
                                            </a>
                                        </div>
                                        <div class="vcard-info-social-item">
                                            <a id="vcard-social-youtube" class="text-decoration-none" target="_blank" rel="nofollow" href="https://www.youtube.com">
                                                <i class="bi bi-youtube vcard-info-social-item-i"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-custom-25 border-vertical-left align-self-center">
                        <div style="">
                            <div class="vcard-qr-vcard-wrapper border" style="margin:auto">
                                <img id="vcard-qr-code" class="vcard-qr-vcard-wrapper-img" src="https://stilevsapp.io/assets/images/logos/logo.png" alt="qr" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">

        <p class="w-100 text-end">
            <button class="btn btn-outline-dark" onclick="copy2()">
                <i class="bi bi-clipboard-plus-fill"></i>
                <span>Kopyala</span>
            </button>
            <hr />
        </p>
        <div id="v-card-export-2">
            <div class="v-card-shadow vcard-container-2 vcard-container-base-2">
                <div class="py-3 bg-dark border-bottom-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="border-bottom-yellow bar-vertical me-3"></div>
                        <a href="" class="pe-2" id="vcard-logo-link-2" target="_blank" rel="nofollow">
                            <img id="vcard-logo-2" src="http://www.homevs.com.tr/images/homevs_logo.png" height="42" class="" alt="" />
                        </a>
                    </div>
                </div>
                <div class="py-3 bg-dark">
                    <div class="vcard-container">
                        <div class="row-custom">
                            <div class="col-custom-33 align-self-center">
                                <div style="">
                                    <div class="vcard-qr-vcard-wrapper border">
                                        <img id="vcard-qr-code-2" class="vcard-qr-vcard-wrapper-img" src="http://www.homevs.com.tr/images/homevs_logo.png" alt=" " />
                                    </div>
                                </div>
                            </div>
                            <div class="col-custom-66 align-self-center">
                                <div class="vcard-info-wrapper">
                                    <div style="display: flex; justify-content: space-between; align-items: center;">
                                        <div class="vcard-info-fullname-wrapper">
                                            <h1 class="vcard-info-header-fullname-2">
                                                <span id="vcard-info-firstname-2" class="vcard-info-firstname-2">İsim</span>
                                                <span id="vcard-info-lastname-2" class="vcard-info-lastname-2">Soyisim</span>
                                            </h1>
                                            <h2 class="vcard-info-header-title-2">
                                                <span id="vcard-info-title-2" class="vcard-info-title-2">İş Ünvanı</span>
                                            </h2>
                                        </div>
                                    </div>

                                    <div class="hr-2"></div>

                                    <div style="display: flex; justify-content: space-between; align-items: center;">
                                        <div class="vcard-info-contact-wrapper w-40">
                                            <span class="info-item-name-2">P.</span>
                                            <a id="vcard-info-phone-2" class="vcard-info-phone-2" href="tel:+902128767578">+(90) 212 876 75 78</a>
                                        </div>
                                        <div class="vcard-info-email-wrapper w-60">
                                            <span class="info-item-name-2 ms-2">E.</span>
                                            <a id="vcard-info-email-2" class="vcard-info-email-2" target="_blank" rel="nofollow"
                                               href="mailto:eposta@domain.com">eposta@domain.com</a>
                                        </div>
                                    </div>
                                    <div style="display: flex; justify-content: space-between; align-items: center;">
                                        <div class="vcard-info-address-wrapper">
                                            <span class="info-item-name-2">A.</span>
                                            <span id="vcard-info-address-2" class="vcard-info-address-2">Sokak, Şehir Ülke</span>
                                        </div>
                                    </div>
                                    <div style="display: flex; justify-content: space-between; align-items: center;">
                                        <div class="vcard-info-email-wrapper w-40">
                                            <span class="info-item-name-2">P.</span>
                                            <a id="vcard-info-phone2" class="vcard-info-phone-2" href="tel:+902128767578">+(90) 212 876 75 78</a>
                                        </div>
                                        <div class="vcard-info-url-wrapper w-60">
                                            <span class="info-item-name-2 ms-2">W.</span>
                                            <a id="vcard-info-url-2" class="vcard-info-url-2" target="_blank" rel="nofollow"
                                               href="https://www.domain.com">www.domain.com</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
        <hr />
    <p class="px-3 w-100">
        Designing HTML e-mails is not like designing HTML websites. There's a huge technology gap between e-mail clients and web browsers.
    </p>
</div>




@section scripts {

    <script>
        function setQR(vCard) {

            let fileName = vcard.get_field("firstname").toLocaleLowerCase() + "_" + vcard.get_field("lastname").toLocaleLowerCase();

            var fd = new FormData();
            var fileInput = $('#file-logo')[0];
            var file = fileInput.files[0];
            fd.append('file', file);
            fd.append('vCardInfo', vCard);
            fd.append('fileName', fileName);

            var data = { vCardInfo: vCard, file: file };
            console.log(data)

            jQuery.ajax({
                type: 'POST',
                url: "@Url.Action("GetQrCode", "Home")",
                data: fd,
                processData: false,
                contentType: false,
                success: function (result) {

                    console.log(result)

                    //$("#qr-server").attr('src', 'https://homevs.com.tr/vCardQRGenerator/'+result.path);
                    //$("#qr-download").attr('href', 'https://homevs.com.tr/vCardQRGenerator/' + result.path);
                    $("#qr-server").attr('src', result.data);
                    $("#qr-download").attr('href', result.data);

                    $("#qr-download").attr('download', fileName + ".png");
                    $("#qr-download").removeClass('d-none');


                    // vCard - QR Code
                    //$("#vcard-qr-code").attr('src', 'https://homevs.com.tr/vCardQRGenerator/' +result.data);
                    $("#vcard-qr-code").attr('src', result.data);
                    $("#vcard-qr-code-2").attr('src', 'https://homevs.com.tr/vCardQRGenerator/' +result.path);


                }
            });

        }


        var vcard_data = [];

        $('#file').change(function () {

            var fd = new FormData();
            var files = $('#file')[0].files[0];
            fd.append('file', files);
            //console.log(files)

            jQuery.ajax({
                type: 'POST',
                url: "@Url.Action("GetCSVFile", "Home")",
                data: fd,
                processData: false,
                contentType: false,
                success: function (result) {
                    console.log(result)

                    vcard_data = result;

                    generateHtmlTable(result);

                    setDataTable();
                }
            });


        });

        $('#file-logo').change(function () {

            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#logo').attr('src', e.target.result);

                    // vCard - Logo
                    $("#vcard-logo").attr('src', e.target.result);
                    $("#liveToast img").attr('src', e.target.result);

                    console.log(e.target.result)

                }

                reader.readAsDataURL(this.files[0]);
            }

        });



        function generateHtmlTable(data) {
            $('#csv-display').empty();
            var html = '';
            html += '<table id="vcard-list" class="table table-condensed table-hover table-striped table-sm">';
            html += '<thead>';
            html += '<tr>';
            for (var key in data[0]) {
                html += '<th>';
                html += key;
                html += '</th>';
            }
            html += '</tr>';
            html += '</head>';
            html += '<tbody>';
            $.each(data, function (index, row) {
                html += '<tr data-id=' + row.id + '>';
                $.each(row, function (index, colData) {
                    html += '<td>';
                    html += colData;
                    html += '</td>';
                });
                html += '</tr>';
            });
            html += '</tbody>';
            html += '</table>';

            $('#csv-display').append(html);
        }

        function setDataTable() {
    var events = $('#csv-display');
    var table = $('#vcard-list').DataTable({
        dom: 'Bfrtip',
        select: true,
        order: [[1, 'asc']],
        columnDefs: [
            {
                target: 0,
                visible: false,
            }
        ],
        destroy: true
    });

    table.on('select', function (e, dt, type, indexes) {
        if (type === 'row') {
            var data = table.rows(indexes).data()[0];

            var _vcard_data = vcard_data.find(x => x.id == data[0]);

            vcard.set_field(_vcard_data)


            fillVCardInfoSelected(_vcard_data);

        }
    });

}
        function fillVCardInfoSelected(data) {
            console.log(data)
            console.log(data.firstname)

            $('#vcard-info-firstname').text(data.firstname);
            $('#vcard-info-lastname').text(data.lastname);
            $('#vcard-info-title').text(data.orgtitle);

            $('#vcard-info-phone').text(data.personaltel)// a
            $('#vcard-info-phone').attr('href', 'tel:' +data.personaltel)

            $('#vcard-info-fax').text(data.orgtel)
            $('#vcard-info-address').text(data.orgstreet + ' ' + data.orgcity + ' ' + data.orgregion + ' ' + data.orgpost + ' ' + data.orgcountry)

            $('#vcard-info-email').text(data.orgemail)// a
            $('#vcard-info-email').attr('href', 'mailto:'+data.orgemail)

            $('#vcard-info-url').text(data.orgurl)// a
            $('#vcard-info-url').attr('href', data.orgurl)

            $('#vcard-social-facebook').attr('href', data.facebook)// a
            $('#vcard-social-twitter').attr('href', data.twitter)// a
            $('#vcard-social-linkedin').attr('href', data.linkedin)// a
            $('#vcard-social-youtube').attr('href', data.youtube)// a


            $('#vcard-info-firstname-2').text(data.firstname);
            $('#vcard-info-lastname-2').text(data.lastname);
            $('#vcard-info-title-2').text(data.orgtitle);

            $('#vcard-info-phone-2').text(data.personaltel)// a
            $('#vcard-info-phone-2').attr('href', 'tel:' +data.personaltel)

            $('#vcard-info-phone2').text(data.orgtel)
            $('#vcard-info-phone2').attr('href', 'tel:' + data.orgtel)

            $('#vcard-info-address-2').text(data.orgstreet + ' ' + data.orgcity + ' ' + data.orgregion + ' ' + data.orgpost + ' ' + data.orgcountry)

            $('#vcard-info-email-2').text(data.orgemail)// a
            $('#vcard-info-email-2').attr('href', 'mailto:' +data.orgemail)

            $('#vcard-info-url-2').text(data.orgurl)// a
            $('#vcard-info-url-2').attr('href', data.orgurl)
        }

        function fillVCardInfo() {

            $('#vcard-logo-link').attr('href', vcard.get_field("orgurl"))

            $('#vcard-info-firstname').text(vcard.get_field("firstname"));
            $('#vcard-info-lastname').text(vcard.get_field("lastname"));
            $('#vcard-info-title').text(vcard.get_field("orgtitle"));

            $('#vcard-info-phone').text(vcard.get_field("personaltel"))// a
            $('#vcard-info-phone').attr('href', 'tel:' +vcard.get_field("personaltel"))

            $('#vcard-info-fax').text(vcard.get_field("orgtel"))

            let address = vcard.get_field("orgstreet") + ' ' +
                vcard.get_field("orgcity") + ' ' +
                vcard.get_field("orgregion") + ' ' +
                vcard.get_field("orgpost") + ' ' +
                vcard.get_field("orgcountry")

            $('#vcard-info-address').text(address)

            $('#vcard-info-email').text(vcard.get_field("orgemail"))// a
            $('#vcard-info-email').attr('href', 'mailto:' +vcard.get_field("orgemail"))

            $('#vcard-info-url').text(vcard.get_field("orgurl"))// a
            $('#vcard-info-url').attr('href', vcard.get_field("orgurl"))

            $('#vcard-social-facebook').attr('href', vcard.get_field("facebook"))// a
            $('#vcard-social-twitter').attr('href', vcard.get_field("twitter"))// a
            $('#vcard-social-linkedin').attr('href', vcard.get_field("linkedin"))// a
            $('#vcard-social-youtube').attr('href', vcard.get_field("youtube"))// a



            $('#vcard-logo-link-2').attr('href', vcard.get_field("orgurl"))

            $('#vcard-info-firstname-2').text(vcard.get_field("firstname"));
            $('#vcard-info-lastname-2').text(vcard.get_field("lastname"));
            $('#vcard-info-title-2').text(vcard.get_field("orgtitle"));

            $('#vcard-info-phone-2').text(vcard.get_field("personaltel"))// a
            $('#vcard-info-phone-2').attr('href', 'tel:' +vcard.get_field("personaltel"))

            $('#vcard-info-phone2').text(vcard.get_field("orgtel"))
            $('#vcard-info-phone2').attr('href', 'tel:' + vcard.get_field("orgtel"))

            $('#vcard-info-address-2').text(address)

            $('#vcard-info-email-2').text(vcard.get_field("orgemail"))// a
            $('#vcard-info-email-2').attr('href', 'mailto:' +vcard.get_field("orgemail"))

            $('#vcard-info-url-2').text(vcard.get_field("orgurl"))// a
            $('#vcard-info-url-2').attr('href', vcard.get_field("orgurl"))
        }

    </script>



    <script>$(function () {
            $('#generateQR').click(vcard.save);
        });

        var html = '';
        function setHtml() {
            html = '<!DOCTYPE html>';
            html += '<html xmlns="http://www.w3.org/1999/xhtml">';
            html += '<head>';
            html += '<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />';
            //html += '<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">'
            //html += '<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">'
            //html += '<link rel="stylesheet" href="https://homevs.com.tr/vCardQRGenerator/css/site.css?v=nCDRAXMctndN8jwj2MGmqGIDJB-i9ekoEJQnZOgRUSA">'
            html += '</head>';
            html += '<body>';
        }

        function showToastMessage(message) {
            const toastLiveExample = document.getElementById('liveToast')
            $('#liveToast .toast-body').html(message);
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
            toastBootstrap.show()
        }

        //const toastTrigger = document.getElementById('liveToastBtn')
        //const toastLiveExample = document.getElementById('liveToast')

        //if (toastTrigger) {
        //    const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
        //    toastTrigger.addEventListener('click', () => {
        //        toastBootstrap.show()
        //    })
        //}


        function copy() {
            setHtml();
            //const content = $('#v-card-export')
            //html += content.html();
            const e = document.querySelector('.vcard-container-base')
            listChildren(e);

            html += htmlT;
            html += '</body>';
            html += '</html>';

            navigator.clipboard.writeText(html).then(() => {
                console.log('HTML panoya kopyalandı.');
                showToastMessage('HTML panoya kopyalandı.');
                html = '';
            }, function (err) {
                console.error('Could not copy text.\nTried to copy the following:\n', html);

            });
        }
        function copy2() {
            setHtml();
            //const content = $('#v-card-export-2')
            //html += content.html();
            const e = document.querySelector('.vcard-container-base-2')
            listChildren(e);

            html += htmlT;
            html += '</body>';
            html += '</html>';

            navigator.clipboard.writeText(html).then(() => {
                console.log('HTML panoya kopyalandı.');
                showToastMessage('HTML panoya kopyalandı.');
                html = '';
            }, function (err) {
                console.error('Could not copy text.\nTried to copy the following:\n', html);
            });

            
        }



        var proto = Element.prototype;
        var slice = Function.call.bind(Array.prototype.slice);
        var matches = Function.call.bind(proto.matchesSelector ||
            proto.mozMatchesSelector || proto.webkitMatchesSelector ||
            proto.msMatchesSelector || proto.oMatchesSelector);

        var elementMatchCSSRule = function (element, cssRule) {
            return matches(element, cssRule.selectorText);
        };

        var styleSheets = ['bootstrap.min', 'bootstrap-icons','site'];
        var cssRules = slice(document.styleSheets).filter(styleSheet=>{
           
            let fileName = styleSheet.href.split('/').pop()
            fileName = fileName.substring(0, fileName.indexOf('.css'));

            return styleSheets.includes(fileName);
        }).reduce(function (rules, styleSheet) {
            console.log(slice(styleSheet.cssRules))
            //console.log("")
            return rules.concat(slice(styleSheet.cssRules));
        }, []);

        var getAppliedCss = function (elm) {
            var elementRules = cssRules//.filter(elementMatchCSSRule.bind(null, elm));

            //console.log('cssRules')
            //console.log(cssRules)

            var classList = [];
            classList = $(elm).attr("class").split(/\s+/);
            

            console.log('classList',classList)
            classList = classList.map(i => '.' + i);

            var elementRules2 = cssRules.filter(x => {
                if (!x.selectorText)
                    return false;

                return classList.includes(x.selectorText);
            });
            
            console.log(elementRules2)

            var rules = [];
            if (elementRules2.length) {
                for (i = 0; i < elementRules2.length; i++) {
                    console.log(elementRules2[i].cssText)
                    rules.push(elementRules2[i].cssText)
                }
            }

            $(elm).removeClass();

            return rules.map(r => {
                if (/\{(.+)\}/g.exec(r))
                    return /\{(.+)\}/g.exec(r)[1].trim()
                else
                    return '';
            }).join(" ");
        }

        function getOuterHTMLWithInlineStyle(el) {
            if (!$(el).attr("class")) {
                return el.outerHTML;
            }
            el.setAttribute('style', getAppliedCss(el));
            return el.outerHTML;
        }

        var htmlT = '';
        function listChildren(element) {
            
            $.each($(element).find('*'), function (index, item) {
                getOuterHTMLWithInlineStyle(item)
            });
            htmlT = getOuterHTMLWithInlineStyle(element)
        }


        function copyT() {
            const e = document.querySelector('.vcard-container-2')
            listChildren(e);
            
            //const html = getOuterHTMLWithInlineStyle(e)

            navigator.clipboard.writeText(htmlT).then(() => {
                console.log('Succesfully copied HTML to clipboard');
            }, function (err) {
                    console.error('Could not copy text.\nTried to copy the following:\n', htmlT);
            });
        }


    </script>


}